<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/add-Product.css">
    <title>Agregar Producto</title>
</head>
<body>
    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_item-list">
                <li class="main-header_item"><a href="/">🏪 Tienda</a></li>
                <li class="main-header_item"><a  class="active" href="/admin/add-product">➕ Agregar Producto</a></li>
                <li class="main-header_item"><a href="/about">❓ Acerca de...</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form class="product-form" action="add-product" method="POST">
            <div class="form-control">
                <label for="productt-name">🛒 Nombre de producto</label>
                <input type="text" name="name" id="product-name">
                <button type="submit">Agregar producto</button>
            </div>
        </form>
    </main>
</body>
</html>