<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/global.css">
        <link rel="stylesheet" href="/styles/add-Product.css">
    <title>Agregar Producto</title>
</head>
<body>
    <!--Barra de navegacion de la pagina-->
    {{> _nav-bar}}
    <main>
        <!--Contenido de la pagina-->
        {{{body}}}
    </main>
</body>
</html>